* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  img {
    cursor: pointer;
  }
}

.links {
  border-radius: 8px;
  height: 45px;
  padding-top: 10px;
  cursor: pointer;

  &:hover {
    .HeaderLinks {
      color: black;
    }
  }

  &:hover {
    background-color: white;
    color: black;
    transition: ease 0.9s;
  }

  &:active {
    box-shadow: 0 5px #666;
    transition: all ease 0.2s;
    transform: translateY(3px);
  }
}

.buyNowBtn {
  border-radius: 8px;
  height: 50px;
  padding-top: 10px;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    transition: ease 0.6s;
  }

  &:active {
    box-shadow: 0 5px #666;
    transition: all ease 0.2s;
    transform: translateY(3px);
  }
}

.linkIcons {
  cursor: pointer;
  padding: 10px;
  &:hover {
    background-color: black;
    border-radius: 50%;
    color: black;
    transition: all ease 0.6s;
  }
}

.mainProducts {
  height: calc(100vh - 100px);
}

.productImges {
  width: 100%;
  object-fit: cover;
  height: calc(100vh - 100px);
}

.caruselProducts {
  padding-top: 20px;
  padding-right: 22px;
  img {
    cursor: pointer;
    object-fit: cover;
    width: 165px;
    height: 190px;
  }
}

.cursoreP {
  cursor: pointer;
  &:hover {
    color: red;
    transition: all ease 0.5s;
  }
}

.cost {
  color: #000000b2;
}
.email_input {
  width: 670px;
  border: none;
  height: 50px;
  border-radius: 3px;
  background-color: #c4c4c4;
  margin-left: 80px;
  font-style: 30px;
  margin-top: 10px;
  padding-left: 10px;
  font-family: "Noto Sans";
  font-size: 25px;
  font-weight: 600;

  &::placeholder {
    color: #545454;
    font-size: 25px;
  }
}

.lastProg {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  align-items: center;
  padding-top: 30px;
  font-family: "Noto Sans";
}

.releasesBox {
  img {
    width: 200px;
    height: 220px;
    margin-bottom: 10px;
    border: solid 2px black;
  }

  .name {
    width: 200px;
    font-family: "Noto Sans";
    font-size: 20px;
    font-weight: 400;
  }

  .cost {
    font-size: 20px;
    line-height: 7px;
    color: red;
    font-weight: 600;
    font-size: 23px;
    padding-bottom: 20px;
  }
  .cost2 {
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.7);
  }
}

.costakk {
  line-height: 7px;
  color: gray;
  text-decoration: line-through;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 20px;
  margin-top: 2px;
}

.showLinks {
  display: none;
  cursor: pointer;
}

.LinkShop {
  list-style: none;
  text-decoration: none;
}

.HeaderLinks {
  text-decoration: none;
  color: #ffffff;
}
